<div class="fixed inset-0 flex flex-col items-center justify-center bg-white z-[90]">
    <div class="relative w-32 h-32 flex items-center justify-center">
      <!-- Logistics icon: truck with motion effect -->
        <img 
        ngSrc="logo.png" 
        alt="logo"
        width="1920"
        height="1080"
        priority
        class="animate-pulse"
      > 
    </div>
    <span class="mt-6 text-lg font-semibold text-[#4fb748] tracking-wide">
      CLN (CAMBODIA) CO.,LTD.
    </span>
  </div>