/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "aos/dist/aos.css";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');

*,html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .font-playwrite-nz {
    font-family: 'Playwrite NZ', sans-serif;
  }